<!--Base -->
{% extends 'base.html' %} {% load static %} 
{% load crispy_forms_tags %}
{% block title %}Memorium | is an
e-Gallery helping you storing your memories to keep them immortal !{% endblock title %}
<!--Meta description-->
{% block meta %}
<meta
  name="description"
  content="Memorium is an e-Gallery helping you storing your memories to keep them immortal !"
/>
{% endblock meta %}

<!-- Style -->
{% block style %} <link rel="stylesheet" href="{% static "styles/main.css" %}">
{% endblock style %}

{% block content %}
<main class="login">
  <h2>Log In</h2> 
  <img class="icon" src="{% static "images/memorium_icon.png"%}" alt="">
  <form method="post">
  {% csrf_token %}
  <div style="text-align: start;">
    {{ form|crispy }}
  </div>
  <button class="button" type="submit">Log In</button>
  </form>
  <br>
  <small>
    <a href="{% url 'signup' %}">Don't have an account ? Sign-In</a> 
  </small>
  
</main>
{% endblock content %}