<!--Base -->
{% extends 'base.html' %} {% load static %} {% block title %}Memorium | is an
e-Gallery helping you storing your memories to keep them immortal !
{% endblock title %}
<!--Meta description-->
{% block meta %}
<meta
  name="description"
  content="Memorium is an e-Gallery helping you storing your memories to keep them immortal !"
/>
{% endblock meta %}

<!-- Style -->
{% block style %} <link rel="stylesheet" href="{% static "styles/main.css" %}">
{% endblock style %} {% block content %}
<main class="container">
  <aside>
    <h3>Categories</h3>
    <hr />
    <ul>
      <li>
        <a href="{% url 'gallery' %}">All</a>
      </li>
      {% for category in categories%}
      <hr />
      <li>
        <a href="{% url 'gallery' %}?category={{ category.name }}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'new_memory' %}">
      <button class="button">Add new memory</button>
    </a>
  </aside>
  <section>
    {% for memory in memories %}
    <div class="memory">
      <div>
        <img src="{{ memory.imageURL }}" alt="" />
        <h4>{{ memory.title }}</h4>
        <h5>{{ memory.category }}</h5>
      </div>
      <a href="{% url 'memory' memory.pk %}">
        <button class="button">View</button>
      </a>
    </div>
    {% endfor %}
  </section>
</main>

{% endblock content %}
